/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.keyword{
	-styled-text-color: rgb(127,0,85);
	-fx-font-weight:bold
}

.write{
	-styled-text-color: rgb(41, 171, 135);
	-fx-font-weight:bold
}
.brace{
	/*-styled-text-color: rgb(3, 37, 76);*/
	-styled-text-color: rgb(17, 103, 177);
	-fx-font-weight:bold
}

.keywordTest{
	-styled-text-color: rgb(0,0,255);
	-fx-font-weight:bold
}

.normal{
	-styled-text-color: rgb(255,0,0);
}

.escribir{
	-fx-background-color:#004B8D;
	-styled-text-color: rgb(255,255,255);
}

.escribirLimite{
	-fx-background-color: rgb(30, 55, 153);
	-styled-text-color: rgb(255,255,255);
}

.expressionCorrecta{
	 -fx-background-color: rgb(163, 231, 214);
	-styled-text-color: rgb(0,0,0);
	
}

.expressionCorrectaLimite{
	 -fx-background-color: rgb(93, 155, 155);
	-styled-text-color: rgb(0,0,0);
}
.expressionIncorrecta{
	-fx-background-color: rgb(255, 204, 103);
	-styled-text-color: rgb(0,0,0);
}

.ejecucion{
	 -fx-background-color: rgb(179, 216, 253);
}

.expressionIncorrectaLimite{
	-fx-background-color: rgb(205, 181, 134);
	-styled-text-color: rgb(0,0,0);
}
.label-titular{
	-fx-text-fill: #FFFFFF;
}

.rectangulo-titular{
	-fx-fill: rgb(0, 0, 128) ;
}

.label-titular-entrada{
	-fx-text-fill: #FFFFFF;
}

.rectangulo-titular-entrada{
	-fx-fill: rgb(104, 0, 104) ;
}

.comentario{
	-styled-text-color: rgb(85,90,191);
}

.rectangulo{
	-fx-fill: white ;
}

.margen{
	-fx-padding: 16 0 0 0;
    -fx-border-insets: 16 0 0 0;
    -fx-background-insets:16 0 0 0;
}

.button{
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-background-insets: 0;
    -fx-padding: 0 3 0 3;
    -fx-cursor: hand;
}

.text-field{
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-background-insets: 0;
    -fx-padding: 0 3 0 3;
    -fx-pref-height: 10;
    -fx-font-size: 8pt; 
} 

.text-field:focused{
	-fx-background-color: rgb(232, 242,254);
	-fx-border-color:rgb(232, 242,254);
	-fx-font-weight: bold
}

.ejecutar-boton {
    -icon-paint: green;
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z";
}

.ejecutar-boton:hover {
    /*-icon-paint: linear-gradient(to bottom, green, black);*/
}

.parar-boton {
    -icon-paint: red;
     -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.parar-boton:hover {
    -icon-paint: linear-gradient(to bottom, red, black);
}

.tabs{
	-fx-background-color: white;
}

.discrepancia{
	-fx-background-color: rgb(255, 135, 132);
}

#segundos{
	-fx-border-color: black;
	-fx-border-width: 0.1em;	
}

#registro{
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-background-insets: 0;
    -fx-padding: 0 3 0 3;
    -fx-pref-height: 10;
    -fx-font-size: 8pt; 
} 

/*
 * 
 .ejecutar-boton {
    -fx-content-display: graphic-only;
    -icon-paint:rgb(46, 186, 64);
}


.ejecutar-boton .ejecutar-icono {
    -fx-background-color: -icon-paint;
    -size: 17;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z";
}

.parar-boton {
    -fx-content-display: graphic-only;
    -icon-paint:rgb(252, 99, 93);
}


.parar-boton .parar-icono {
    -fx-background-color: -icon-paint;
    -size: 17;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
   }
 */
