/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.keyword{
	-styled-text-color: rgb(127,0,85);
	-fx-font-weight:bold
}

.write{
	-styled-text-color: rgb(41, 171, 135);
	-fx-font-weight:bold
}
.brace{
	/*-styled-text-color: rgb(3, 37, 76);*/
	-styled-text-color: rgb(17, 103, 177);
	-fx-font-weight:bold
}

.keywordTest{
	-styled-text-color: rgb(0,0,255);
	-fx-font-weight:bold
}

.normal{
	-styled-text-color: rgb(255,0,0);
}

.escribir{
	-fx-background-color:#004B8D;
	-styled-text-color: rgb(255,255,255);
	/** claro: #CDEDFF;*/
	
	/**-fx-background-color: rgb(116, 185, 255);
	 * 
	 *CONJUNTO DE AZULES
	 * rgb(106, 137, 204) 
	 * rgb(74, 105, 189)
	 * 
	 *BLANCO LETRAS
	 * -styled-text-color: rgb(255,255,255);
	 * 
	 *AZUL CLARO
	 * rgb(116, 185, 255);
	 *rgb(9, 132, 227); 
	 * 
	 * 
	 *VALENTINA
	 *OSCURO: 2, 51, 115
	 *CLARO: 148, 189, 242
	 * 
	 *-styled-text-color: rgb(255,255,255);
	 **/
}

.escribirLimite{
	-fx-background-color: rgb(30, 55, 153);
	-styled-text-color: rgb(255,255,255);
}

/* 
 *.expressionIncorrecta{
	-styled-text-color: rgb(255,0,0);
	-fx-border-color: red;
    -fx-border-width: 0 0 1 0;
    -fx-underline: true;
    -fx-padding: 0 0 -1 0;
}
.expressionCorrecta{
	-styled-text-color: rgb(0,255,0);
	-fx-border-color: green;
    -fx-border-width: 0 0 1 0;
    -fx-underline: true;
    -fx-padding: 0 0 -1 0;
} 
 */


.expressionCorrecta{
	/* 
	 *-fx-background-color: rgb(173, 216, 230); 
	 *  -fx-background-color: rgb(135, 206, 250);
	 *
	 */
	 -fx-background-color: rgb(163, 231, 214);
	-styled-text-color: rgb(0,0,0);
	
}

.expressionCorrectaLimite{
	/* 
	 *-fx-background-color: rgb(173, 216, 230); 
	 *  -fx-background-color: rgb(135, 206, 250);
	 *
	 */
	 -fx-background-color: rgb(93, 155, 155);
	-styled-text-color: rgb(0,0,0);
}
.expressionIncorrecta{
	-fx-background-color: rgb(255, 204, 103);
	-styled-text-color: rgb(0,0,0);
}

.expressionIncorrectaLimite{
	-fx-background-color: rgb(205, 181, 134);
	-styled-text-color: rgb(0,0,0);
}
.label-titular{
	-fx-text-fill: #FFFFFF;
}

.rectangulo-titular{
	-fx-fill: rgb(106, 137, 204) ;
}

.comentario{
	-styled-text-color: rgb(85,90,191);
}

.rectangulo{
	
	-fx-fill: white ;
	
}
/*.rectangle{
	-fx-border-color: green;
    -fx-border-width: 0 0 1 0;
    -fx-underline: true;
    -fx-padding: 0 0 -1 0;
}
-fx-border-style: none solid none solid;
    -fx-border-width: 0.2;
    -fx-border-color: rgb(106, 137, 204) ;
   
*/
.margen{
	-fx-padding: 16 0 0 0;
    -fx-border-insets: 16 0 0 0;
    -fx-background-insets:16 0 0 0;
}

.text-field{
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-background-insets: 0;
    -fx-padding: 0 3 0 3;
    -fx-pref-height: 10;
    -fx-font-size: 8pt; 
} 

.text-field:focused{
	-fx-background-color: rgb(232, 242,254);
	-fx-border-color:rgb(232, 242,254);
	-fx-font-weight: bold
}